/* You can add global styles to this file, and also import other style files */

@import '~@angular/cdk/overlay-prebuilt.css'

body
	max-width: 1440px
	width: 1440px
	height: 1440px
	font-family: ".AppleSystemUIFont", sans-serif
