<input
	type="text"
	id='test'
	placeholder="Выберите из списка"
	class="inp"
	#trigger="cdkOverlayOrigin"
	[formControl]="inputSearch"
	cdkOverlayOrigin
	autocomplete="off"
>
<div class="chips__list">
	<div class="chips" *ngFor="let selectedItem of selected" (click)="removeGenre(selectedItem)">
		{{ selectedItem.label }}
	</div>
</div>

<ng-template
	cdkConnectedOverlay
	[cdkConnectedOverlayOrigin]="trigger"
	[cdkConnectedOverlayOpen]="overlayIsOpen"
	[cdkConnectedOverlayHasBackdrop]="true"
	[cdkConnectedOverlayBackdropClass]="'backdrop'"
	(backdropClick)="close()"
	[cdkConnectedOverlayWidth]="441"
>
	<div class="genre__list">
		<button class="genre" *ngFor="let item of genres" (click)="selectGenre(item)">
			{{ item.label }}
		</button>
	</div>
</ng-template>
