@import "../../styles/mixins"

\:host
	display: flex
	flex-direction: column
	max-width: 375px
	width: 100%


.chips
	display: flex
	align-items: center
	justify-content: center
	padding: 3px 6px

	margin: 30px 10px 10px 0px
	outline: none
	border: medium solid #000000
	border-radius: 28px
	background: none
	@include regular-text
	cursor: pointer
	text-align: center

	&:not(:last-child)
		height: 28px
		border: medium solid #000000
		border-radius: 28px
	&:last-child
		height: 28px
		border: medium solid #000000
		border-radius: 28px
	&__list
		display: flex
		flex-direction: row


.genre
	background: none
	border-radius: 28px
	cursor: pointer

	&__list
		display: flex
		flex-direction: column
		background: white
		width: 100%
		padding: 8px 10px
		border: 1px solid #cecece

.backdrop
	background: transparent
.inp
	border: none
	outline: none
	font-family: SF Pro Text
	font-style: normal
	font-weight: normal
	font-size: 17px
	line-height: 22px
	letter-spacing: -0.408px
