<div class="header__wrapper">
	<div class="header">
		<div class="collection_top"></div>
		<nav>
			<a routerLink="/" class="collection"></a>
			<a routerLink="/" class="add"></a>
		</nav>
		<a routerLink="/" class="logo"></a>
		<div>
			<div class="search_img"></div>
			<input class="search_input" placeholder="Поиск">
			<div class="photo"></div>
		</div>
	</div>
</div>
