\:host
	display: block
	width: 100%
	box-shadow: 0 2px 6px rgba(#152D67, 0.08)

.header
	display: flex
	align-items: center
	justify-content: space-between
	max-width: 1440px
	width: 100%
	padding: 15px 32px

	&__wrapper
		display: flex
		justify-content: center
		width: 100%
		background: rgba(249, 249, 249, 0.94)

.collection_top, .collection, .add, .logo, .search_img, .photo
	position: absolute
	cursor: pointer
	border: 0

.collection_top
	width: 1440px
	height: 70px
	left: 0px
	top: 0px
	background: url("../../../assets/rectangle_top.svg")


.collection
	width: 135.19px
	height: 24px
	left: 32px
	top: 23px
	background: url("../../../assets/collection.svg")

.add
	width: 142px
	height: 38px
	left: 209px
	top: 16px
	background: url("../../../assets/button_add.svg")

.logo
	width: 47px
	height: 18px
	left: 697px
	top: 26px
	background: url("../../../assets/logo.svg")


.search_img
	background: #002DFF
	width: 21px
	height: 21px
	left: 1253px
	top: 24px
	background: url("../../../assets/search.svg")


.photo
	width: 40px
	height: 40px
	left: 1374px
	top: 15px
	background: url("../../../assets/photo_profile.svg")

.search_input
	position: absolute
	width: 58px
	height: 17px
	left: 1285px
	top: 24px
	font-family: SF Pro Text
	font-style: normal
	font-weight: 500
	font-size: 18px
	line-height: 21px
	letter-spacing: -0.336px
	color: #000000
	border: 0
	outline: none
