\:host
	display: block
	width: 100px

.toggle
	position: relative
	font-family: SF Pro Text
	font-style: normal
	font-weight: 600
	font-size: 15px
	line-height: 10px
	align-items: center
	text-align: center
	letter-spacing: -0.24px
	left: 548px
	top: 228px
	width: 343px
	height: 32px
	padding: 10px 12px
	cursor: pointer
	border: 0.5px solid rgba(0, 0, 0, 0.04)
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04)
	border-radius: 6.93px


	&--active
		background: white

	&__wrapper
		display: flex
		align-items: center
		justify-content: space-between
		width: 343px
		height: 32px

.name, .year, .describe, .genre, .poster
	position: relative
	height: 28px
	left: 496px
	font-family: SF Pro Text
	font-style: normal
	font-weight: bold
	font-size: 22px
	color: #000000

.name
	top: 270px
	line-height: 28px

.year
	top: 322px
	line-height: 28px
	letter-spacing: 0.8px

.describe
	top: 374px
	line-height: 28px
	letter-spacing: 0.8px

.genre
	top: 426px
	line-height: 28px
	letter-spacing: 0.8px

.poster
	margin-top: 35px
	top: 478px
	line-height: 28px
	letter-spacing: 0.8px

input[type=search]::-webkit-search-cancel-button
	-webkit-appearance: none
	width: 18px
	height: 18px
	margin-right: 2px
	cursor: pointer
	background: url("../../../assets/null.svg")

input[type=search]::-ms-clear
	display: none
	background: url("../../../assets/null.svg")

.name_input, .year_input, .describe_input, .genre_input
	position: relative
	font-family: SF Pro Text
	font-style: normal
	font-weight: normal
	width: 441px
	height: 22px
	left: 496px
	font-size: 17px
	line-height: 22px
	letter-spacing: -0.408px
	outline: none
	border: none

.name_input
	top: 283px

.year_input
	top: 335px

.describe_input
	top: 386px

.genre_input
	top: 439px

.name_line, .year_line, .describe_line, .genre_line
	position: relative
	width: 441px
	left: 496px
	opacity: 0.2
	border: 0.5px solid #000000
	background: url("../../../assets/divider.svg")

.name_line
	top: 301.5px

.year_line
	top: 353.5px

.describe_line
	top: 405.5px

.genre_line
	top: 457.5px

.get_photo, .button_save, .button_save_dinamic
	position: relative

.get_photo
	top: 498px
	left: 496px
	backdrop-filter: blur(54.3656px)
	border-radius: 14px

.button_save
	width: 155px
	height: 38px
	left: 643px
	top: 540px
	border: 0
	cursor: pointer
	background: url("../../../assets/button_save.svg")

.button_save_dinamic
	width: 155px
	height: 38px
	left: 130px
	border: 0
	cursor: pointer
	background: url("../../../assets/button_save.svg")

.film
	display: flex
	align-items: flex-start

	&:not(:last-child)
		margin-bottom: 16px

	img
		margin-right: 18px
		cursor: pointer

	h2
		display: flex
		align-items: flex-start
		flex-direction: column
		width: 250px
		height: 46px
		left: 0px
		color: black
		margin: 0
		font-family: SF Pro Text
		font-style: normal
		font-weight: normal
		font-size: 17px
		line-height: 22px
		letter-spacing: -0.408px

	span
		display: flex
		flex-direction: column
		color: #3C3C43
		margin-top: 5px
		font-family: SF Pro Text
		font-style: normal
		top: 15px
		font-weight: normal
		font-size: 15px
		line-height: 22px
		letter-spacing: -0.408px

	&__container
		display: flex
		position: relative
		width: 500px
		top: 325px
		left: 496px
		height: 81px
		flex-direction: column

	button
		border: 0
		padding: 0
		background: white

	a
		text-decoration: none
		font-family: SF Pro Text
		font-style: normal
		font-weight: normal
		font-size: 14px
		color: blue
		line-height: 18px
		letter-spacing: -0.408px

	a:hover
		text-decoration: underline

.show-above-overlay
	position: relative
	z-index: 1001

input::-webkit-calendar-picker-indicator
	display: none
	opacity: 0

.option
	border: 2px solid #000000
	box-sizing: border-box
	border-radius: 14px
	flex-direction: row
	display: inline
