<div class="toggle__wrapper">
	<button class="toggle" (click)="toggle(true)" [class.toggle--active]="innerValue" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
		КиноПоиск
	</button>
	<button class="toggle" (click)="toggle(false)" [class.toggle--active]="!innerValue" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
		Вручную
	</button>
</div>
<ng-container *ngIf="(this.innerValue === false)">
	<form [formGroup]="form">
		<div>
			<div class="name">
				Название
			</div>
			<label><input type="search" [(ngModel)]="uname" class="name_input" placeholder="Например, Титаник" data-dismiss="modal"></label>
			<div class="name_line"></div>
		</div>
		<div>
			<div class="year">
				Год
			</div>
			<label><input type="search" class="year_input" placeholder="Укажите год выхода фильма" data-dismiss="modal">
			</label>
			<div class="year_line"></div>
		</div>
		<div>
			<div class="describe">
				Описание
			</div>
			<label><input type="search" class="describe_input" placeholder="Напишите пару слов о сюжете" data-dismiss="modal">
			</label>
			<div class="describe_line"></div>
		</div>
		<div>
			<div class="genre">
				Жанр
			</div>
			<app-genre-search class="genre_input" style="{border:none}"></app-genre-search>
			<div class="genre_line"></div>
		</div>
		<div>
			<div class="poster">
				Постер
			</div>
			<label><img src="../../../assets/post_photo.svg" id="upfile1" class="get_photo" style="cursor:pointer"/>
				<input type="file" name="photo" multiple accept="image/*,image/jpeg" style="display:none" />
			</label>
			<div class="poster_line"></div>
		</div>
		<button class="button_save" (click)="save()"></button>
		{{this.uname}}
	</form>
</ng-container>
<ng-container *ngIf="(this.innerValue === true)">
<form [formGroup]="form" >
	<div class="name">
		Название
	</div>
	<div class="name_line" style="top:325px"></div>
	<ng-container *ngIf="(this.modalIsOpen === false)">
		<input
			type="search"
			formControlName="searchInput"
			class="name_input"
			placeholder="Например, Титаник"
		>
	</ng-container>
	<ng-container *ngIf="(films$ | async).length > 0; else notFound">
		<ng-container *ngIf="(this.modalIsOpen === true); else lst">
			<div>
				<div class="name_input">{{this.name}}</div>
				{{check()}}
			</div>
			<div>
				<div class="year">
					Год
				</div>
				<div class="year_input">{{this.year}}</div>
				<div class="year_line"></div>
			</div>
			<div>
				<div class="describe">
					Описание
				</div>
				<div class="describe_input">{{this.information}}
					<img src="../../../assets/divider.svg"/>
					<div style="font-weight: bold;font-size: 22px;line-height: 28px;margin-top: 18px">
						Жанр
					</div>
					<div>
						<div style="margin-top: 13px">{{this.genre}}</div>
						<img src="../../../assets/divider.svg"/>
						<button class="button_save_dinamic" style="margin-top: 80.5px"></button>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-template #lst>
			<div class="film__container">
				<div class="film" *ngFor="let item of films$ | async">
					<a (click)="openModal(true, item.id, item.name, item.year, item.information, item.genre)" id="{{item.id}}">
						<img src={{item.path_to_image}} style="width:63.37px; height:81px" alt="">
					</a>
					<h2>{{item.name}}<br><span>{{item.year}}</span></h2>
				</div>
			</div>
		</ng-template>
	</ng-container>
	<ng-template #notFound>
		<div class="film__container">
			<div class="film">
				<img src="../../../assets/not_found.svg" style="width:63.37px; height:81px" alt="">
				<div>
					<h2>Фильм не найден<br><a href="#" (click)="toggle(false)">Добавьте его вручную</a></h2>
				</div>
			</div>
		</div>
	</ng-template>
</form>
</ng-container>
<ng-template
	cdkConnectedOverlay
	[cdkConnectedOverlayOrigin]="trigger"
	[cdkConnectedOverlayOpen]="innerValue"
	[cdkConnectedOverlayHasBackdrop]="false"
	(backdropClick)="innerValue = false"
>
</ng-template>
<ng-template
	cdkConnectedOverlay
	[cdkConnectedOverlayOrigin]="trigger"
	[cdkConnectedOverlayOpen]="!innerValue"
	[cdkConnectedOverlayHasBackdrop]="false"
	(backdropClick)="innerValue = true"
>
</ng-template>
